@{
    ViewBag.Title = "Home Page";
}



<div>
    
    <div style="margin:20px; ">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Problem1_Solution", "Home")'">
            Problem 1 Solution
        </button>
        
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Problem2_Solution"@*"LastTry"*@, "Home")'">
            Problem 2 Solution
        </button>
    </div>
</div>